.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 75vh;
}

.form__title {
  font-size: 16px;
  margin-bottom: 30px;
}

.form__input {
  padding: 15px 35px 15px 15px;
  border-radius: 8px;
  background-color: #252525;
  color: #fff;
  outline: none;
  border: none;
}
/* .form__submit__btn */
.btn--submit {
  margin-top: 50px;
  font-size: 0.9rem;
  background: linear-gradient(90deg, #ffa100, #ff005c);
  color: white;
  transition: all 0.3s ease;
  padding: 15px 25px;
  border-radius: 1rem;
  cursor: pointer;
}
