@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #131415;
    color: #f9fafb;
    font-family: 'Poppins', sans-serif;
    padding: 3rem;
}

.max-width {
    max-width: 950px;
    margin: 0 auto;
}

.container {
    padding: 2rem;
    display: grid;
    place-content: center;
    grid-template-columns: 350px 300px 150px 150px;
    grid-auto-rows: 1fr;
    gap: 10px;
    height: 100vh;
}

.item {
    border-radius: 1rem;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
}

.item:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
    background: url(./img/1.avif) no-repeat center/cover;
}

.item:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    background: url(./img/2.avif) no-repeat center/cover;
}

.item:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/2;
    background: url(./img/3.avif) no-repeat center/cover;
}

.item:nth-child(4){
    grid-column: 4/5;
    grid-row: 1/2;
    background: url(./img/4.avif) no-repeat center/cover;
}

.item:nth-child(5){
    grid-column: 1/2;
    grid-row: 3/4;
    background: url(./img/5.avif) no-repeat center/cover;
}

.item:nth-child(6){
    grid-column: 2/3;
    grid-row: 2/4;
    background: url(./img/6.avif) no-repeat center/cover;
}

.item:nth-child(7){
    grid-column: 3/5;
    grid-row: 2/3;
    background: url(./img/7.avif) no-repeat center/cover;
}

.item:nth-child(8){
    grid-column: 3/5;
    grid-row: 3/4;
    background: url(./img/8.avif) no-repeat center/cover;
}

footer {
    text-align: center;
    margin: 1rem 0;
}

/* Tablet */

@media screen and (min-width: 481px) and (max-width: 1000px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        padding: unset;
    }

    .item:nth-child(even),
    .item:nth-child(odd) {
        grid-column: auto;
        grid-row: auto;
    }
}

@media screen and (min-width: 250px) and (max-width: 480px) {

    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .item:nth-child(even),
    .item:nth-child(odd) {
        grid-column: auto;
        grid-row: auto;
    }

    body {
        padding: unset;
    }

}