html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}

.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
   
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

#cart-toggle:checked ~ .overlay {
    display: block;
}

#menu-toggle:checked ~ .overlay {
    display: block;
}

.navbar-list li {
    position: relative;
    padding: 0;
}

.navbar-list li a::after {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--text-white);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
}

.navbar-list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.cart-icon {
    transition: all 0.2s ease-out;
}

.cart-icon:hover {
    color: var(--electric);
    border-color: var(--electric);
    transition: all 0.2s ease-in;
}

.quantity-handler {
    transition: all 0.2s ease-in;
}

.quantity-handler:hover {
    cursor: pointer;
    background-color: var(--electric);
    transition: all 0.2s ease-in;
}

.btn-add,
.hero-info a {
    transition: all 0.2s ease-out;
}

.btn-add:hover,
.hero-info a:hover {
    background-color: var(--fire);
    transition: all 0.2s ease-in;
}

.btn-load {
    transition: all 0.2s ease-out;
    font-weight: 600;
}

.btn-load:hover {
    transition: all 0.2s ease-in;
    background-color: var(--electric);
    color: black;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(100px);
    } to {
        transform: translateY(0);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(100px);
    } to {
        transform: translateX(0);
    }
}

.hero-info h1 {
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}


.hero-info p {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.3s;
    z-index: 1;
}

.hero-info a {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.4s;
}

.hero-card {
    opacity: 0;
    animation: fade 1s ease-in forwards, slide-right 1.3s ease-in-out;
    animation-delay: 0.2s;
}

#info h2 {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 1.3s ease-in-out;
    animation-delay: 0.4s;
}

.info-card {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 1.3s ease-in-out;
}

.info-card:nth-child(1) {
    animation-delay: 0.8s;
}

.info-card:nth-child(2) {
    animation-delay: 0.7s;
}

.info-card:nth-child(3) {
    animation-delay: 1s;
}

.product img {
    transition: all 0.3s linear;
}

.product img:hover {
    transition: all 0.3s linear;
    transform: scale(1.02);
}

@keyframes blink {
    to {
        background: transparent;
        opacity: 0;
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

.hero-info h1 span {
    position: relative;
    background: linear-gradient(to top, #30cfd0, #c43ad6);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    z-index: 1;
}

.hero-info h1 span::before,
.hero-info h1 span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-info h1 span::before{
    background-color: var(--background);
    animation: typewriter 1.2s 1.4s steps(6) forwards;
}

.hero-info h1 span::after {
    width: 0.1rem;
    background: linear-gradient(to top, #30cfd0, #c43ad6);
    animation: typewriter 1.2s 1.4s steps(6) forwards, blink 0.8s steps(6) infinite;
}