@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    /* bg colors */
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
  --btn-bg: #050d26;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;

  /* Decoration */
  --fire: #ff6d00;
  --electric: #64d3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

/* header */

header {
    background: var(--secondary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    position: fixed;
    top: 0;
}

.logo {
    height: 40%;
}

.navbar,
.navbar-list {
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar {
    gap: 150px;
}

.navbar-list {
   gap: 30px;
}

.navbar-list a {
    color: var(--text-gray);
    font-size: 14px;
}

.navbar-list li:first-child > a {
    color: var(--text-white);
    font-weight: 600;
}

.cart-icon {
    border: 1px solid var(--bg-electric);
    padding: 12px 18px;
    margin-top: 3px;
    border-radius: 10px;
    height: 36px;
    font-weight: 600;
    cursor: pointer;
}

/* main */

main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
}

/* hero */

#hero {
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: var(--text-white);
}

.hero-info p {
    font-size: 14px;
    width: 70%;
    color: var(--text-gray);
}

.hero-info p > span {
    font-weight: 800;
}

.hero-info a {
    color: var(--text-white);
    background-color: var(--primary);
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
}

.hero-card {
    width: 300px;
    background: var(--secondary);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero-card-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-card-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.hero-card-top h3 {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero-card-top span {
    background-color: var(--primary);
    text-align: center;
    width: 50px;
    padding: 3px 0px;
    font-size: 14px;
    border-radius: 10px;
}

.hero-card-bottom {
    display: flex;
    justify-content: space-between;
}

.hero-card-creator {
    display: flex;
    align-items: center;
    gap: 5px;
}

.hero-card-creator img {
    height: 40px;
    width: 40px;
}

.creator-info p:first-child,
.hero-card-price p {
    color: var(--text-gray);
    font-size: 12px;
    font-weight: 300;
}

.hero-card-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero-card-price span,
.creator-info p:last-child {
    font-size: 14px;
}

.hero-card-price span {
    font-weight: 700;
}